.article-entry ul > li,
.article-entry ul, .article-entry ol
    margin: 10px 10px;
.article-entry ul li.task-list, .article-entry ol li.task-list {
    list-style: none;
    margin-left: 10px;
}

.article-entry blockquote {
    padding: 0.2em 10px;
    margin: 0 auto;
    margin-left: 1rem;
    -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.0);
    box-shadow: 1px 1px 1px rgba(0,0,0,0.0);
    border-left: 5px solid rgba(112,134,142,0.85);
    background: rgba(255,255,255,0.7);
}

.click-prop-gw{display:none !important;}
.list-hot-w{display:none !important;}#feedAv{height:0px !important;overflow:hidden !important;position:absolute !important;bottom:-9999px !important;}
#SOHUCS #SOHU_MAIN .module-cmt-footer {
    padding: 0 0 !important;
    position: relative;
}
#feedAv{position:absolute !important;bottom:-9999px !important;}
.duo{overflow:hidden !important;}
#SOHUCS{overflow:hidden !important;}
